<!DOCTYPE html>
<html>
 
<head>
    <title> <%= product.title %> </title>
     
    <style type="text/css" media="screen">
        .body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .product {
            background-color: aquamarine;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
</head>
 
<body>
    <div class="body">
        <h1>Product Details</h1>
        <div class="product">
            <img src= <%= product.thumbnail %>  />
            <h1><%= product.title %></h1>
            <label><%= product.description %></label>
            <label>Price : <%= product.price %></label>
            <label>Discount : <%= product.discountPercentage %> %</label>
            <label>Rating <%= product.rating %></label>
        </div>  
    </div>
</body>
 
</html>